<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LearningPlatformTestSuite">
    <test name="FunctionalTests">
        <classes>
            <class name="tests.TASK_SW_2_VerifyUserCanLoginAndSeesCorrectEmailInAvatar"/>
            <class name="tests.TASK_SW_2_VerifyUserCanAddCourseToBookmarks"/>
            <class name="tests.TASK_SW_2_VerifyUserCanDeleteCourseFromBookmarks"/>
        </classes>
    </test>
</suite>