<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginTestSuite">
    <test name="LoginTests">
        <classes>
            <class name="tests.TASK_SW_2_VerifyUserCanLoginAndSeesCorrectEmailInAvatar"/>
        </classes>
    </test>
</suite>